<html>
    <head>
        <title>Djangogirls' Blog</title>
    </head>

    <body>
        <div>
            <h1><a href=""> DG Blog </a> </h1>
        </div>

        <div>
            <p><em>23-07-2016, 15:44:02</em></p>
            <h3> Stay a  while and listen!</h3>
            <p> Dear You,</p>
            <p> Say hi to the first textsies!</p>
        </div>

        <div>
            <h2><a href=""> What is next?! </a></h2>
            <p> Now we're all ofcourse wondering: What's next? Well, let me tell you this.<br /> We're havin' some <strong><em>awesome</em></strong> things lined up for you! <br />
            <ul><li>Writing stuff</li><li>Creating stuff</li><li>Reading stuff!</li></ul>
            And of course many more! <em>(Games! Hint hint!)</em>
            </p>
            <p>
                New days, new stuff! <br />
                See you next time! <br><br>
                Myth
            </p>
        </div>
    </body>
</html>

